.center {
  text-align: center;
}
a:focus {
    outline: none;
}
hr {
  margin: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  /*font-family: Arial;*/
  /*font-family: Lucida Sans Unicode;*/
}

#curves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  z-index: -1;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
  font-size: 1.5em;
  letter-spacing: 2.5px;
  color: #226177;
}

.header .title {
  color: #728c83;
  font-size: 1.3em;
  font-family: 'Marcellus SC', serif;
  /*font-family: Times New Roman;*/
}

.header .subtitle {
  font-size: 0.8em;
  color: #82a183;
}

.main {
  margin-top: 9em;
}

ul.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
ul.nav li {
  display: inline-block;
  width: 24.5%;
  text-align: center;
  margin-left: -.25%;
  margin-right: -.25%;
}
ul.nav li a {
  font-size: 1.2em;
  color: #82a183;
  text-decoration: none;
  display: block;
}

ul.nav a.active {
  color: #226177;
}

.tabs {
  margin-top: 1.3em;
  padding: 10px;
}
.tabs .tab {
  display: none;
  float: left;
  width: 59%;
  margin: 0;
  padding: 0 4%;
  min-height: 300px;

}
.tab-title {
  color: #226177;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.tab-body {
  font-size: 13px;
  color: #666;
}
.left-tab-space {
  float: left;
  background-color: #728c83;
  height: 100px;
  width: 25%;
  margin: 0 4%;
  border-radius: 5px;
}

@media(max-width: 980px) {
  body {
    font-size: 13px;
  }
  .container {
    width: 100%;
  }
}

@media(max-width: 800px) {
  @media(min-width: 600px) {
    .main {
      margin-top: 7em;
    }
  }
}

@media(max-width: 600px) {
  .header img {
    height: 25px;
    width: 25px;
  }
  .main {
    margin-top: 6em;
  }
  ul.nav li a {
    font-size: 1em;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 11px;
  }
  .header {
    font-size: 14px;
  }
  .header .title {
    font-size: 18px;
  }
  .nav {
    margin-top: 0;
    font-size: 9px;
  }
  .tabs .tab {
    width: 90%;
    padding: 5%;
  }
  .left-tab-space {
    display: none;
  }
}


@media(max-width: 300px) {
  ul.nav li a {
    font-size: 0.85em;
  }
}
